@import url('../../css/variables.css');
@import url('../../css/common/base.css');
@import url('../../css/common/navbar.css');
@import url('../../css/common/dark-mode.css');
@import url('./graficoStyle.css');
@import url('../../css/common/loading.css');

.scrollable-container {
  max-height: 150px;
  overflow-y: auto;
}

.scrollable-container-table {
  max-width: auto;
  overflow-y: auto;
}

.dark-mode th {
  color: black;
}
