@import url('../../css/variables.css');
@import url('../../css/common/base.css');
@import url('../../css/common/navbar.css');
@import url('../../css/common/dark-mode.css');
@import url('./graficoStyle.css');
@import url('../../css/common/loading.css');
@import url('../../css/common/icons.css');

.scrollable-container {
  max-height: 150px;
  overflow-y: auto;
}

.scrollable-container-table {
  overflow-y: auto;
}

.chart-container canvas,
.single-question-chart-container canvas {
  max-height: 500px;
}

.chart-container,
.single-question-chart-container {
  padding: 10px 0;
}
