@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('./questionAdm.css');
@import url('./temasForm.css');
@import url('./navFooter.css');
@import url('loading.css');

/* conf default */
body {
  font-family: 'Poppins', sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background: linear-gradient(45deg,rgba(2, 0, 36, 1) 0%,rgba(9, 9, 121, 1) 35%,rgba(0, 212, 255, 1) 100%); */
}

.btn-move-up,
.btn-move-down {
    padding: 5px;
    font-size: 14px;
}

.autocomplete-item-clickable {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.autocomplete-item-clickable:hover {
  background-color: #f1f1f1;
  color: #007bff;
}
#form-title {
  position: relative;
  display: inline-block;
  padding-bottom: 10px; /* Espaço entre o texto e a linha */
}

#form-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 1020px;
  height: 4px; /* Altura da linha */
  background-color: blue; /* Cor da linha */
}
#form-description {
  overflow-wrap: break-word;
}
/* Estilizando o contêiner da imagem */
/* Estilizando o contêiner da imagem */
.form-image-container {
  text-align: center;
  margin-top: 70px; /* Diminui a margem superior para aproximar da próxima seção */
  padding: 0 16px;
}


/* Estilizando a imagem */
.form-image {
  width: min(1100px, 100%);
  max-width: 100%;
  height: auto;
  max-height: 700px;
  object-fit: cover;
  border-radius: 8px; /* Deixa as bordas levemente arredondadas */
  border: 2px solid #ccc; /* Adiciona uma borda cinza clara ao redor da imagem */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}
