/* tema escuro */
/* index */
.dark-mode {
    background-color: #121212 !important;
    color: #ffffff !important;
  }
  .dark-mode .navbar {
    background-color: #1f1f1f !important;
  }
  .dark-mode .navbar .nav-link,
  .dark-mode .navbar .navbar-brand,
  .dark-mode .navbar .btn {
    color: #ffffff !important;
  }
  .dark-mode .jumbotron {
    background-color: #2a2a2a !important;
  }
  .dark-mode .card {
    background-color: #1f1f1f !important;
  }
  .dark-mode .valid-feedback,.dark-mode .invalid-feedback{
    color: #ffff;
  }
  .dark-mode footer {
    background-color: #1f1f1f !important;
  }
  .dark-mode .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  /* tema escuro */
/* index */
.dark-mode {
  background-color: #121212 !important;
  color: #ffffff !important;
}
.dark-mode .navbar {
  background-color: #1f1f1f !important;
}
.dark-mode .navbar .nav-link,
.dark-mode .navbar .navbar-brand,
.dark-mode .navbar .btn {
  color: #ffffff !important;
}
.dark-mode .jumbotron {
  background-color: #2a2a2a !important;
}
.dark-mode .card {
  background-color: #1f1f1f !important;
}
.dark-mode .valid-feedback,.dark-mode .invalid-feedback{
  color: #ffff;
}
.dark-mode footer {
  background-color: #1f1f1f !important;
}
.dark-mode .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.dark-mode .modal-content {
  background-color: #1f1f1f !important;
  color: #ffffff !important;
}

.dark-mode .modal-header {
  background-color: #2a2a2a !important;
  border-bottom: 1px solid #ffffff !important;
  color: #ffffff !important;
}

.dark-mode .modal-title {
  color: #ffffff !important;
}

.dark-mode .modal-body {
  color: #ffffff !important;
}

.dark-mode .modal-footer {
  background-color: #2a2a2a !important;
  border-top: 1px solid #ffffff !important;
  color: #ffffff !important;
}
/* Estilo para o tab em modo claro */
.nav-tabs {
background-color: #ffffff; /* fundo branco */
color: #000000; /* texto preto */
}

.nav-tabs .nav-link {
color: #000000; /* texto preto */
}

.nav-tabs .nav-link.active {
background-color: #ffffff; /* fundo branco */
color: #000000; /* texto preto */
}

/* Estilo para o tab em modo escuro */
.dark-mode .nav-tabs {
background-color: #1f1f1f !important; /* fundo escuro */
color: #ffffff !important; /* texto branco */
}

.dark-mode .nav-tabs .nav-link {
color: #ffffff !important; /* texto branco */
}

.dark-mode .nav-tabs .nav-link.active {
background-color: #2a2a2a !important; /* fundo escuro mais escuro */
color: #ffffff !important; /* texto branco */
}

/* Estilos para o modal de gerenciamento de acesso em modo escuro */
.dark-mode .modal-content {
background-color: #1f1f1f !important;
color: #ffffff !important;
}

.dark-mode .modal-header {
background-color: #2a2a2a !important;
border-bottom: 1px solid #ffffff !important;
color: #ffffff !important;
}

.dark-mode .modal-title {
color: #ffffff !important;
}

.dark-mode .modal-body {
color: #ffffff !important;
}

.dark-mode .modal-footer {
background-color: #2a2a2a !important;
border-top: 1px solid #ffffff !important;
color: #ffffff !important;
}

.dark-mode .modal-body .overflow-auto .list-group li{
color:#2a2a2a;
}
.dark-mode .modal-content .close {
color: #ffffff; /* Cor branca para o ícone do botão */
}
.dark-mode .chart-container{
color: #ffffff;
background-color: #2a2a2a;
}
.dark-mode .chart-container .chart-canvas{
background: white;
}
.dark-mode .list-container {
background: #2a2a2a;
color: #ffffff;
}